@import 'styles/variaveis';
@import 'styles/breakpoints';

.voltar {
  display: flex;
  width: 35%;
  button {
    transition: 0.7s ease;
    background-color: transparent;
    padding: 10px 35px;
    border: none;
    color: $dark;
    border-radius: 55px;
    cursor: pointer;
    border: solid 2px #9a8d84;
    font-size: 1.5rem;
    font-weight: bold;
  }
  :hover {
    background-color: #6e5d4f;
    color: #F3F0D7;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo {
  font-size: 3rem;
}

.imagem {
  width: 600px;
  img {
    border-radius: 8px;
    width: 100%;
  }
}

.conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
  &__descricao {
    color: $darkest-grey;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &____detalhes {
    display: flex;
    justify-content: space-between;
  }
}