@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');



body {
  background-color: #F3F0D7;
}

* {
  box-sizing: border-box;
  font-family: 'Tenor Sans', sans-serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}